@font-face {
    font-family: "MetaBold-Roman";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/MetaBold-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "meta-caps";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Meta-Caps.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "meta-normal";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/meta-normal.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

