@font-face {
    font-family: "MetaBold-Roman";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/MetaBold-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "meta-caps";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Meta-Caps.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "meta-normal";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/meta-normal.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sailec-Bold";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Sailec-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sailec-Light";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Sailec-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sailec-Regular";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Sailec-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MetaBoldLF-Roman";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/metaboldlf-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MetaMedium-Caps";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/metamediumlf-capsregular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MetaNormalLF-Roman";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/metanormal-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

