@font-face {
    font-family: "MetaBold-Roman";
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/MetaBold-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }