body {
    width: 100%;
    height: 100%;
  }
  p{
      padding:0;
      margin: 0;
      font-size: 25px;
  }
.banner img {
    width: 100%;
    height:100%;
}
.col-lg-12.align{
    padding: 0;
}
.banner a {
    position: absolute;
    top: 53%;
    left: 40%;
    background: red;
    padding: 27px;
    color: #fff;
    border-radius: 55px;
    text-transform: uppercase;
}
.logofix img{
    max-width: 100%;
}
.sectionone{
    background-color:red;
    padding:30px;
}
.fontbox{
    background-color: #fff;
    padding:30px;
    margin: 10px;
}
.fontbox > a {
    padding: 5px;
    background: red;
    color: #fff;
    font-weight: bold;
}
/* h1{
 font-family: "MetaBold-Roman",sans-serif;
} */
h2{
    font-family: meta-caps,sans-serif;
}
h3{
 font-family:"meta-normal-regular-webfont",sans-sarif;
}
h4{
font-family:"meta-normal",sans-serif;
}
.newfont-Sailec-Bold {
    font-family: Sailec-Bold;
    padding: 0;
}
.newfont-Sailec-Light {
    font-family: Sailec-Light;
}
.newfont-Sailec-Regular {
    font-family: Sailec-Regular;
}
.newfont-MetaBoldLF-Roman {
    font-family:MetaBoldLF-Roman; 
}
.newfont-MetaMedium-Caps {
    font-family: MetaMedium-Caps;
}
.newfont-MetaNormalLF-Roman {
    font-family: MetaNormalLF-Roman;
}
.MetaBoldLF-Roman h1 {
    font-family: MetaBoldLF-Roman;
}
.MetaRomanBold h1 {
    font-family: "meta",sans-serif;
}
.MetaCaps h1 {
    font-family: "MetaCaps",sans-serif;
    font-style: normal;
}
@media only screen and (max-width: 2000px) {
    .mobileview img {
     display: none;
}
}
@media only screen and (max-width: 600px) {
.mobileview img{
    display: block;
    width: 100%;
    height: 100vh;
}
.banner img{
    display: none;
}
.fontbox img {
    width: 100%;
    padding: 0px;
    min-height: 31px;
}
}